@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Hier ga ik Css schrijrijven */

/*HEX-codes:*/
/*- Paars `#5722CD`;*/
/*- Blauw `#4845E4`;*/
/*- Roze `#ED4385`;*/
/*- Zwart `#0C0C0C` (voor standaard tekst);*/
/*- Lichtpaars `#F2F0FF` (voor de grote zwevende woorden, zoals "hello" en "services")*/
/**Uitzonderingen:**/
/*- Lichtgrijs `#F3F6F9` (voor de achtergrond van de projecten)*/
/*- Grijs `#7A7A7A` (voor de service-tegel tekst);*/

/* CSV
5722cd,4b49e8,f2f0ff,ed4385,0c0c0c
*/
/* With #
#5722cd, #4b49e8, #f2f0ff, #ed4385, #0c0c0c
*/

/* XML */
/*Han Purple= hex="5722cd" r="87" g="34" b="205"
Majorelle Blue= hex="4b49e8" r="75" g="73" b="232"
Magnolia= hex="f2f0ff" r="242" g="240" b="255"
French Rose= hex="ed4385" r="237" g="67" b="133"
Rich Black FOGRA 39= hex="0c0c0c" r="12" g="12" b="12"
 */
/* Gradients
background: hsla(241, 78%, 60%, 1);
background: linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
background: -moz-linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
background: -webkit-linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4b49e8", endColorstr="#5722cd", GradientType=1 );
 */

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Merriweather, Serif;
}

p {
    font-family: Roboto, Serif;
}

li,
a {
    font-family: Roboto, Serif;
    font-weight: normal;
    cursor: pointer;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */

.outer-content-container {
    display: flex;
    width: 100%;
    justify-content: center;
    /*background-color: #4845E4;*/
    /* border: 3px dotted red; */
    /*color: #F3F6F9;*/

}

.inner-content-container {
    display: flex;
    flex-direction: column;
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    /*padding: 10px 150px 200px 150px;*/
    /* border: 3px dotted purple; */
    /* border: 3px dotted purple; */
}


.header-heading_navigation {
    display: flex;
    justify-content: flex-end;
    /*align-content: space-between;*/
}

.header-menu-list {
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
    padding-top: 15px;
    /* border: 3px solid gray; */
}

.header-menu-list-item {
    list-style: none;
}

.header-content_cta {
    display: flex;
    flex-direction: column;
    padding: 10px 300px 200px 300px;
    align-items: center;
    text-align: center;
}
.header-content_cta > h2 {
    font-weight: 300;
    font-size: 1.2em;
}
/***Header**: zorg ervoor dat de content van de header in het midden komt te staan. *Tip*: gebruik padding om de
header wat meer hoogte te geven en blijf weg van letterlijke `height: 500px` properties.*/
#header {
    background: hsla(241, 78%, 60%, 1);
    background: linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4b49e8", endColorstr="#5722cd", GradientType=1 );
    /*background: #4845E4;*/
    position: relative;
    color: #F3F6F9;
}

.submit_button_header {
    text-transform: uppercase;
    background-color: #ED4385;
    color: #F3F6F9;
    border: none;
    height: 40px;
    width: 300px;
    border-radius: 25px;
    margin: 20px 0 20px 0;
    align-self: center;

}

.header_squiggle {
    background-image: url(assets/squiggle_line_stripe.svg);
    background-repeat: no-repeat;
    width: 78px;
    height: 100px;
    position: absolute;
    bottom: 0;
}

main>.inner-content-container {
    height: auto;
}

.main-content_one {
    display: flex;
    flex-direction: column;
    color: #5722CD;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    padding: 20px 360px;
}

.main-content_one p {
    padding: 0;
}

.main-content_one p:last-child {
    font-size: 0.6em;
    color: #0C0C0C;
    padding: 40px 0 40px 0;
}

.main-project-block {
    background-color: #F3F6F9;
    display: flex;
    flex-direction: row;
    /* border: 5px dotted rgb(92, 92, 38); */
    /*align-content: space-between;*/
    justify-content: space-between;


}


.project-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid gray; */
    flex-basis: 30vw;
    margin: 60px;


}

#variety {
    order: 2;
}

.project-blocks>img {
    width: 80px;
    height: 7px;
    margin: 10px 0 14px 0;

}

.project-blocks a {
    font-weight: 600;
    font-size: 0.7rem;
    color: #4845E4;
    text-transform: uppercase;
    padding-top: 30px;
}
.project-blocks a::after {
    display: inline-block;
    content: "";
    width: 2%;
    height: 2px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #4845E4;
    transition: width .35s ease-in-out;
}
.project-blocks a:hover::after {
    /* alle andere properties worden behouden, we overschrijven alléén de width property */
    width: 20%;
}


.main-project-block>div {
    padding: 5px;
    display: flex;
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*text-align: center;*/


}


img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
}

.image-wrapper {
    align-self: center;
     flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 30px;

}

#section_inner {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 70px;
    margin-bottom: 70px;

    /* border: 2px solid green */
    /* flex-basis: 400px; */
}

.inner-content-container-article {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #5722CD;
    /* flex-basis: 30vh; */
    /* height: 400px; */
    flex-basis: 28%;
    /* padding-left: 10px; */
    box-shadow: rgb(0 0 0 / 15%) 4px 8px 15px 1px;
;
}

.inner-content-container-article>img {
    box-shadow: none;
    width: 80px;
    padding-left: 20px;
}

.inner-content-container-article>p {
    font-size: 0.8rem;
    margin: 0;
    padding: 20px;
}

.inner-content-container-article>h3 {
    font-size: 1rem;
    color: #5722CD;
    padding-left: 20px;
}

footer .inner-content-container {
    height: 60px;
    align-items: center;
    justify-content: center;
    color: #F3F6F9;
    background-color: #0C0C0C;
}

#main_form {
    /* width: 1400px; */
    background: hsla(241, 78%, 60%, 1);
    background: linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(241, 78%, 60%, 1) 0%, hsla(259, 72%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4b49e8", endColorstr="#5722cd", GradientType=1 );
    /* display: flex;
    flex-direction: column; */
    /* align-content: center; */
    align-items: center;
    margin-bottom: 0;
}

#main_form>h3 {
    font-size: 2rem;
    color: #F3F6F9;
    margin-bottom: 0;
    /* padding: 0; */
}

#main_form>p {
    font-size: 0.6rem;
    color: #F3F6F9;
    /* margin: 0; */
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    color: #F3F6F9;
    display: block;
    margin-bottom: 10px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* text-align: center; */
}

.submit_button {
    text-transform: uppercase;
    background-color: #ED4385;
    color: #F3F6F9;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 25px;
    margin: 20px 0 20px 0;
    align-self: center;
}

